body {
   background: url("Olympia-ROTATOR-Expo.jpg") top center no-repeat fixed #282828;
   background-size: cover;
}

#div1 {
    width: 50%;
    height: 1000px;
    background-color: white;
}


#elsokep {
    image;
}